
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap');
.menu{
   cursor: pointer;
}


.slider_menu{
    font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
    padding: 0px 40px;
    position: fixed;
    right: 0px;
    display: flex;
    flex-direction: column;
    top: 5rem;
    
    justify-content: space-evenly;
    height: 12rem;
    border-radius: 50% 0 50% 0;
    background: black;
    color: white;
}